body {
  background-color: #4f473a;
}

.navBar {
  background-color: #4a3d5a;
  height: 60px;
  font-size: 20px;
}

.navBar a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}
